* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: sans-serif;
  overflow-x: hidden;
}

.section {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  text-align: center;
  color: #fff;
}
.section .section-heading {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-weight: normal;
  font-size: 3em;
}
.section p {
  font-size: 22px;
}
.container {
  margin: auto;
  padding-top: 200px;
}
.section-orange {
  background-color: #df6d1a;
}
.section-yellow {
  background-color: #e6bf00;
}
