* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Oleo-Script;
  src: url(../Fonts/OleoScriptSwashCaps-Regular.ttf) format('truetype');
}

html, body {
  font-family: sans-serif;
  overflow-x: hidden;
}

.section-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section {
  min-height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  text-align: center;
  color: #fff;
}
.section .section-heading {
  font-family: Oleo-Script;
  font-weight: normal;
  font-size: 3em;
}
.section p {
  font-size: 22px;
  padding: 60px 0;
}
.section img {
  height: 200px;
  width: auto;
}
.section a {
  padding: 7px 17px;
  width: auto;
  border: none;
  border-radius: 1px;
  text-decoration: none;
  font-size: 1.8em;
  color: #fff;
  background-color: #df6d1a;
  margin: 30px;
  transition: 0.25s;
}
.section a:hover {
  background-color: #fff;
  border: 2px solid #df6d1a;
  border-radius: 30px;
  color: #df6d1a;
}
.container {
  margin: auto;
  padding-top: 200px;
  width: 960px;
}
.section-orange {
  background-color: #df6d1a;
  width: 50vw;
}
.section-orange .container, .section-blue .container {
  width: 90%;
  margin: auto;
}
.section-yellow {
  background-color: #e6bf00;
}
.section-blue {
  background-color: #1f68d6;
  width: 50vw;
}
.section-purple {
  background-color: #9938d0;
}

@media (max-width: 960px) {

  .container {
    width: 90%;
    margin: auto;
  }
  .section-grid {
    display: block;
  }
  .section-blue, .section-orange {
    width: 100vw;
  }

}
